.reviewWriter {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.reviewDate {
    display: flex;
    justify-content: flex-start;
    color: #aaa;
}

.title{
    text-align: start;
    font-weight: bold;
    font-size: 18px;
}

.content{
    text-align: start;
    font-size: 12px;
}

.notReview {
    font-weight: bold;
    font-size: 25px;
}

.imageStar{
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.paginationList {
    list-style: none;
    padding: 0;
}

.paginationListItem {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.paginationListItemFirstChild {
    border-radius: 5px 0 0 5px;
}

.paginationListItemLastChild {
    border-radius: 0 5px 5px 0;
}

.paginationLink {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
}

.paginationListItemActive {
    background-color: #337ab7;
}

.paginationLinkActive {
    color: white;
}

.paginationLinkHover,
.paginationLinkActiveHover {
    color: blue;
}

.pageCol{
    display: flex;
    justify-content: center;
}

.modifyButton,
.deleteButton{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}