.datasetDetailContainer {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .detailCard {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .datasetImage {
    width: 80px;
    height: 80px;
  }
  
  .tags {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .tag {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
  }
  
  .placeName {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .placeAddress {
    font-size: 14px;
    color: #777;
    margin-left: 20px;
    margin-bottom: 2px;
  }
  
  .placeCategory {
    font-size: 14px;
    color: #777;
    margin-left: 20px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .detailButton {
    margin-right: 10px;
  }

  .cardImg {
    width: 150px;
    height: 120px;
    margin-left: 10px;
  }

  .selectButtonCol {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }

  .selectButton{
    margin-right: 5px;
  }


.imageStar{
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

  